/********* DIMENSIONES *********/
/* 
    El concepto esta relacionado a que medida o formatos de medida podemos 
    darle a los elementos html.

    ABSOLUTAS
        -> Son aquellas que tienen valor por si mismas.
            -> px
            -> pulgadas

    RELATIVAS
        -> Son aquellas que dependen de otra dimension para poder tener valor.
            -> porcentual
            -> viewport height
            -> viewport width
            -> rem
            -> em
*/

/* .container {
  background-color: orange;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.text {
  background-color: green;
  height: 50px;
  width: 50px;
  display: block;
} */

* {
    margin: 0;
}

/* .container {
  background-color: orange;
  width: 100%; 
  height: 100vh;
}
.container2 {
  width: 100%;
  height: 100vh;
} */
/* .hijo {
  background-color: aqua;
  width: 50%;
  height: 50%;
}  */


html {
    font-size: 20px; /* 1rem = 20px */
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}

.rebelde {
    font-size: 12px;
}

.rebelde h1 {
    font-size: 2em;
}
.rebelde h2 {
    font-size: 1.75em;
}
.rebelde h3 {
    font-size: 1.5em;
}
.rebelde h4 {
    font-size: 1.25em;
}

.perritos {
    font-size: 4px;
}

.perritos h1 {
    font-size: 2em;
}
.perritos h2 {
    font-size: 1.75em;
}
.perritos h3 {
    font-size: 1.5em;
}
.perritos h4 {
    font-size: 1.25em;
}